{% extends 'base.html' %}

{% comment %}
Very Important note: When using 'button' tag as submit button while the whole <form> is in a 'for loop', we must be cautious
about value of <form> 'id' attribute. Because 'id' value of the form must be something 'unique'. It is better to append
{{ forloop.counter }} in the end of 'id' attribute like this: <form id="someValue{{ forloop.counter }}" ...>.
{% endcomment %}


{% block title %}Cart View{% endblock title %}


{% block content %}
<div align='center'><h1>Items in your cart</h1></div>
{% if request.session.cart and cart.total_quantity %}

<h2>Items:<br><br>
    {% comment "" %}{% for product_id, quantity in request.session.cart.items %}{% endcomment %}
    {% comment "" %}{{ forloop.counter }}) {{ product_id }}: {{ quantity }}{% endfor %}{% endcomment %}
    {% for ci in cart.cartitem_cart.all %}
    {{ forloop.counter }}) {{ ci.product.name }}:  {{ ci.quantity}}   - code: {{ ci.product.product_id }}   - price:  {{ ci.price }}<br><br>

    <form id='change-delete_{{ forloop.counter }}' action="{% url 'cart:delete_product_from_cart'%}" method="get">
        <input type="hidden" name="cartitem_id" value={{ ci.id }}>
        <input type="hidden" name="product_id" value={{ ci.product.product_id}}>
        <input type="number" name="quantity" value={{ ci.quantity }} id="">
        <button form='change-delete_{{ forloop.counter }}' type='submit' formaction="{% url 'cart:change_cartitem_quantity' %}">Change quantity</button><br><br>
        <input type="submit" value="Delete Item">
    </form>

    {% endfor %}
</h2>
<h2>Numbers: {{ request.session.total_quantity }}</h2>
<h2>Price: {{ request.session.price }}</h2>

<h3><a href="{% url 'cart:clean_cart' %}">Delete items</a></h3>

{% else %}
    <h2>There is no Item in the cart!</h2>
{% endif %}
{% endblock content %}
