[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
asgiref = "*"
autopep8 = "*"
certifi = "*"
charset-normalizer = "*"
django-admin-honeypot = "*"
django-ckeditor = "*"
django-constance = "*"
django-cors-headers = "*"
django-countries = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-filter = "*"
django-js-asset = "*"
django-picklefield = "*"
django-quill-editor = "*"
django-session-timeout = "*"
django-silk = "*"
django-taggit = "*"
django-watchman = "*"
gprof2dot = "*"
gunicorn = "*"
idna = "*"
jinja2 = "*"
markdown = "*"
markupsafe = "*"
pillow = "*"
psycopg2 = "*"
pycodestyle = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
sorl-thumbnail = "*"
sqlparse = "*"
tomli = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
