{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'statics/css/main.css' %}">
<link rel="stylesheet" href="{% static 'statics/css/login/signup.css' %}">
{% endblock head %}


  {% block title %}
    ثبت نام
  {% endblock title %}




{% block content %}

  <main class="mx-auto py-5 mb-0" style="font-family: IRANYekan, sans-serif;">
    <div class="signup-box mx-auto">
        <div class="mx-auto my-2 row justify-content-around align-items-center">
            <div class="signup--image my-3 col-lg-6 col-md-10 col-sm-12 col-12">
                <img src="{% static 'statics/images/electronics.png' %}" class="" alt="">
                <p class="m-0">بهترین محصولات جدید را از ما بخواهید</p>
            </div>
            <div class="signup--data text-center my-3 col-lg-4 col-md-8 col-sm-12 col-12">
                <h3 class="display-6 py-2">ساخت حساب کاربری</h3>
                <small class="d-block pb-5">برای دریافت پیشنهادها و تخفیف های جدید ثبت نام کنید</small>
                <form action="" method="post" name="signup-form" id="signup-form">
                  {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">آدرس ایمیل</label>
                      <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text" style="font-size: 15px;">
                         نام کاربری شما را با شخص دیگری به اشتراک نخواهیم گذاشت
                      </div>
                      <div>
                        <p class="mx-0 my-1 signup-username-error" style="color: red; font-size: 18px"></p>
                      </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">رمز عبور</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                        <div>
                          <p class="mx-0 my-1 signup-password-error" style="color: red; font-size: 18px;"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">تکرار رمز عبور</label>
                        <input name="password_confirm" type="password" class="form-control">
                        <div>
                          <p class="mx-0 my-1 signup-password-cofirm-error" style="color: red; font-size: 18px;"></p>
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <label class="form-check-label me-1">
                          <span id="accept-rule">
                            با تمام  
                            <a href="#" style="text-decoration:none;">
                              <span class="text-primary px-1" style="font-weight:600;">قوانین و مقررات</span>
                            </a>
                            وبسایت موافقت می کنم 
                          </span>
                        </label>
                        <input type="checkbox" class="form-check-input ms-1">
                    </div>
                    <div>
                        <!-- <input id="submit-button type="submit" value="ثبت نام" class="btn btn-dark" disabled> -->
                        <button id="submit-button" type="submit" class="ms-1 btn btn-dark" disabled>ثبت نام</button>
                    </div>
                    <p class="mt-4">
                      <a href="{% url 'login:classic-login' %}" style="font-size: 18px; text-decoration: none; color: rgb(13, 77, 167);">آیا دارای حساب کاربری هستید؟</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </main>
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/login/signup.js' %}" type="module"></script>
{% endblock scripts %}