{% extends 'templates/base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock head %}


{% block title %}
  Eazy shop in BigShop
{% endblock title %}


  {% block content %}
  <main class="m-auto py-5">
    <!-- Make cart sticky to the screen -->
    <div class="login-cart-box">
      <div class="login-cart d-flex justify-content-center align-items-center flex-column">
        <!-- login/signup -->
        <div class="login py-1">
          <a id="login-link" href="{% url 'login:signup' %}">
            <div class="d-flex align-items-center justify-content-between">
              <!-- if user login: green user icon, If user is not login or not registered: red icon -->
              <i id="user-icon" class='fas fa-user-alt' style='font-size:30px;color:green'></i>
              <i>login/register</i>
            </div>
          </a>
        </div>
        <!-- user profile/dashboard -->
        <div class="py-1">
          <a href="./profile.html">
            <div class="d-flex justify-content-center align-items-center">
              <i class="bi bi-speedometer2 me-1" style='font-size:24px; color:green'></i>
              <i class="ms-1">profile</i>
            </div>
          </a>
        </div>
        <!-- cart -->
        <div class="cart py-1">
          <a href="./cart.html" class="s-cart-link">
            <i class="px-2 fa fa-shopping-cart" style="font-size:28px"></i>
            <div class="s-cart-number">
              <p class="p-0 m-auto text-white">3</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Make cart sticky to the screen -->
    <h1 class="text-center" style="direction: rtl; font-family:IRANYekan, sans-serif;">به فروشگاه BigShop خوش آمدید</h1>
    <!-- ***** 'cover' section ***** -->
    <div class="">
      <div class="d-flex background background1">
        <h2 class="bg-text">Great IT products</h2>
      </div>
      <div class="d-flex background background2">
        <h2 class="bg-text">Best products in the world</h2>
      </div>
      <div class="d-flex background background3">
        <h2 class="bg-text">Anything you want</h2>
      </div>
    </div>

    <!-- ******* products list section ********** -->
    <h2 class="mt-3" id="newest-products">جدیدترین محصولات</h2>
    <div class="row align-items-center justify-content-center products-list my-1">
      <!-- If we don't want to use bootstrap flex system, would use below 'div' -->
      <!-- <div class="products-list my-4"> -->
      <!-- Each product has this block -->
      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="./product_detail.html">
            <img src="./images/laptop_PNG101812.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="./product_detail.html" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">لپ تاپ جدید</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Hewlett packard (HP)</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">200000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">190000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="11">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>laptop</p>
            </a>
          </div>
          <div class="single-tag m-2">
            <a href="#">
              <p>لپ تاپ</p>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="./product_detail.html">
            <img src="./images/server_PNG35.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="./product_detail.html" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">Server</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Fujitsu</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">3500000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">320000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="22">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>زیرساخت</p>
            </a>
          </div>
          <div class="single-tag m-2">
            <a href="#">
              <p>laptop</p>
            </a>
          </div>
          <div class="single-tag m-2">
            <a href="#">
              <p>electronic</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="#">
            <img src="./images/microwave_PNG101664.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="#" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">سرور lp جدید</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Lenovo</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">400000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">390000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="33">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>سرور</p>
            </a>
          </div>
          <div class="single-tag">
            <a href="#">
              <p>server</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="#">
            <img src="./images/iphone_11_PNG15.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="#" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">Iphone 11 pro max premium</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Apple</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">500000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">490000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="44">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>موبایل</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="#">
            <img src="./images/laptop_PNG101820.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="#" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">Asus HiLab 6032-nz</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Asus</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">240000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">235000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="55">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>لپ تاپ</p>
            </a>
          </div>
          <div class="single-tag m-2">
            <a href="#">
              <p>laptop</p>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-12 col-12 mx-2 product">Asshole</div> -->
    </div>
  </main>
  {% endblock content %}
  

  <div id="main-footer-separator" class="my-3 mx-auto"></div>


{% block scripts %}
  <script src="{% static 'statics/js/main.js' %}" type="module"></script>
{% endblock scripts %}
