<!DOCTYPE html>

<html lang="en">

<head>



  <!-- **** 'base_head' block in 'base.html' **** -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./images/logo.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  <!-- **** 'base_head' block in 'base.html' -->



  <!-- ***** 'head' block in 'base.html' -->
  <link rel="stylesheet" href="./css/main.css">
  <!-- ***** 'head' block in 'base.html' -->



  <!-- ** 'title' block in 'base.html' ** -->
  <title>Eazy shop in BigShop</title>
  <!-- ** 'title' block in 'base.html' ** -->



</head>

<body>



  <!-- **** 'header' block in 'base.html/include header.html' **** -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: grey;">
    <div class="container-fluid mx-auto px-5 justify-content-between align-items-center flex-wrap">
      <!-- navbar links section -->
      <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6 col-6" id="navbar-links">
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item px-2">
              <a class="navbar-brand" href="#"><img src="./images/logo.jpg" alt="BigShop" class="img-thumbnail"></a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link active" aria-current="page" href="#">About Us</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#">Latest Products</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Category
              </a>
              <!-- This is where all Categories placed -->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- navbar logo section and dropdown button -->
      <div class="col-lg-1 col-md-10 col-sm-10 col-12 text-center mx-auto justify-content-around align-items-center" id='navbar-logo'>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- Search/login section -->
      <div class="px-2 col-xl-4 col-lg-5 col-md-8 col-sm-12 col-12 d-flex justify-content-end align-items-center" id="search-login">
        <div class="w-100" id="search-form-box">
          <!-- Search Form -->
          <form class="d-flex justify-content-end align-items-center flex-md-row flex-sm-column flex-column" role="button">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <!-- login/signup (In navbar for future use) -->

      </div>

    </div>
  </nav>
  <!-- **** 'header' block in 'base.html/include header.html' **** -->



  <!-- ******* 'content' block in 'base.html' ******* -->
  <main class="m-auto py-5">
    <!-- Make cart sticky to the screen -->
    <div class="login-cart-box">
      <div class="login-cart d-flex justify-content-center align-items-center flex-column">
        <!-- login/signup -->
        <div class="login py-1">
          <a id="login-link" href="./signup.html">
            <div class="d-flex align-items-center justify-content-between">
              <!-- if user login: green user icon, If user is not login or not registered: red icon -->
              <i id="user-icon" class='fas fa-user-alt' style='font-size:30px;color:green'></i>
              <i>login/register</i>
            </div>
          </a>
        </div>
        <!-- user profile/dashboard -->
        <div class="py-1">
          <a href="./profile.html">
            <div class="d-flex justify-content-center align-items-center">
              <i class="bi bi-speedometer2 me-1" style='font-size:24px; color:green'></i>
              <i class="ms-1">profile</i>
            </div>
          </a>
        </div>
        <!-- cart -->
        <div class="cart py-1">
          <a href="./cart.html" class="s-cart-link">
            <i class="px-2 fa fa-shopping-cart" style="font-size:28px"></i>
            <div class="s-cart-number">
              <p class="p-0 m-auto text-white">3</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Make cart sticky to the screen -->
    <h1 class="text-center" style="direction: rtl; font-family:IRANYekan, sans-serif;">به فروشگاه BigShop خوش آمدید</h1>
    <!-- ***** 'cover' section ***** -->
    <div class="">
      <div class="d-flex background background1">
        <h2 class="bg-text">Great IT products</h2>
      </div>
      <div class="d-flex background background2">
        <h2 class="bg-text">Best products in the world</h2>
      </div>
      <div class="d-flex background background3">
        <h2 class="bg-text">Anything you want</h2>
      </div>
    </div>

    <!-- ******* products list section ********** -->
    <h2 class="mt-3" id="newest-products">جدیدترین محصولات</h2>
    <div class="row align-items-center justify-content-center products-list my-1">
      <!-- If we don't want to use bootstrap flex system, would use below 'div' -->
      <!-- <div class="products-list my-4"> -->
      <!-- Each product has this block -->
      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="./product_detail.html">
            <img src="./images/laptop_PNG101812.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="./product_detail.html" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">لپ تاپ جدید</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Hewlett packard (HP)</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">200000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">190000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="11">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>laptop</p>
            </a>
          </div>
          <div class="single-tag m-2">
            <a href="#">
              <p>لپ تاپ</p>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="./product_detail.html">
            <img src="./images/server_PNG35.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="./product_detail.html" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">Server</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Fujitsu</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">3500000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">320000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="22">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>زیرساخت</p>
            </a>
          </div>
          <div class="single-tag m-2">
            <a href="#">
              <p>laptop</p>
            </a>
          </div>
          <div class="single-tag m-2">
            <a href="#">
              <p>electronic</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="#">
            <img src="./images/microwave_PNG101664.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="#" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">سرور lp جدید</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Lenovo</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">400000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">390000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="33">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>سرور</p>
            </a>
          </div>
          <div class="single-tag">
            <a href="#">
              <p>server</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="#">
            <img src="./images/iphone_11_PNG15.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="#" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">Iphone 11 pro max premium</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Apple</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">500000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">490000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="44">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>موبایل</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mx-1 my-2 product">
        <div class="product-image-block py-2 mx-auto">
          <a href="#">
            <img src="./images/laptop_PNG101820.png" class="product-image" alt="">
          </a>
        </div>
        <div class="product-name text-center py-3">
          <a href="#" style="text-decoration: none;">
            <p class="m-0" style="font-family:IRANYekan, sans-serif; font-weight: 600;">Asus HiLab 6032-nz</p>
          </a>
        </div>
        <div class="product-brand pb-3">
          <h5><span style="font-weight: 700;">Asus</span></h5>
        </div>
        <div class="product-price">
          <!-- If product has discount, activate 'discounted' css class for the 'p' element -->
          <div class="price-original">
            <p class="discounted mb-0 px-3"><span class="price-value">240000</span><span
                class="price-currency px-1">تومان</span></p>
          </div>
          <div class="price-discounted">
            <p class="px-3"><span class="price-value">235000</span><span class="price-currency px-1">تومان</span></p>
          </div>
          <!-- Following block will appear only after user add the product to the cart -->
          <div success="ok" class="text-primary d-none my-1" style="font-family: IRANYekan, sans-serif; color: green;">
            <small>به سبد خرید اضافه شد</small>
          </div>
          <button class="add-to-cart btn btn-success mb-2" data-product-id="55">
            <span class="px-1">+ سبد خرید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
        <!-- Every tag for the product listed here (clickable) -->
        <div class="product-tags">
          <div class="single-tag m-2">
            <a href="#">
              <p>لپ تاپ</p>
            </a>
          </div>
          <div class="single-tag m-2">
            <a href="#">
              <p>laptop</p>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-12 col-12 mx-2 product">Asshole</div> -->
    </div>
  </main>
  <!-- ******* 'content' block in 'base.html' ******* -->


  <div id="main-footer-separator" class="my-3 mx-auto"></div>


  <!-- *** 'footer' block in 'base.html/include footer.html' *** -->
  <footer class="mx-auto mt-3 pt-3">
    <div id="pr-box">
      <p style="direction: rtl;">لطفا انتقادات و پیشنهادات خود را با ما به اشتراک بگذارید:</p>
      <div id="pr-form">
        <form name="pr-form" action="#" class="mb-4">
          <div id="form-email-section" class="mb-3 mx-auto col-lg-5 col-md-8 col-sm-10" style="direction: ltr;">
            <!-- Error messasges will be shown here (When use the short way to show the errors)-->
            <div class="pr-error">
              <p></p>
            </div>
            <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
            <input name="email" type="text" class="form-control" id="email-input" placeholder="name@example.com">
          </div>
          <div id="form-content-section" class="mb-3 mt-3 mx-auto col-lg-5 col-md-8 col-sm-10">
            <!-- Error messasges will be shown here (When use the short way to show the errors)-->
            <div class="pr-error">
              <p></p>
            </div>
            <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
            <textarea name="content" class="form-control" id="content-input" rows="5"
              placeholder="انتقادات و پیشنهادات"></textarea>
          </div>
          <button id="send-button" class="btn btn-primary">ارسال</button>
          <div class="pr-result">
            <!-- If data sent to server successully, execute 'pr-success', otherwise execute 'pr-failed' -->
            <p id="pr-success"></p>
            <p id="pr-failed"></p>
          </div>
        </form>

      </div>
    </div>
    <div id="footer-content" class="pt-3">
      <h5>تمامی حقوق وبسایت بیگ شاپ متعلق به شرکت رایانه پندار آپادانا می باشد</h5>
      <div class="py-4">
        <a href="">
          <img src="./images/logo_bigger_original.jpg" id="footer-img" alt="bigshop logo footer">
        </a>
      </div>

    </div>
  </footer>
  <!-- *** 'footer' block in 'base.html/include footer.html' -->



</body>



<!-- **** 'base_scripts' block in 'base.html' -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- **** 'base_scripts' block in 'base.html' -->



<!-- ** 'scripts' block in 'base.html' -->
<!-- To use a module in parent script, we should set 'type="module"' for the parent script! -->
<script src="./js/main.js" type="module"></script>
<!-- ** 'scripts' block in 'base.html' -->



</html>