{% extends 'base.html' %}


{% block head %}
{% endblock head %}


{% block title %}{{ product.slug }}{% endblock title %}


{% block content %}
<h1>Product with ID {{ product.product_id }} details:</h1>

<h2>name: {{ product.name }}</h2>
<h2>price: {{ product.price }}</h2>
<h2>describe: {{ product.describe }}</h2>

<form id="form_id" method='post'>
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.product_id }}">
    <input type="hidden" name="price" value="{{ product.price }}">
    <input type="hidden" name="price_end" value="{{ product.price_end }}">
    <input type="number" name="quantity" value=1 min="0" max="5" id=""><br>

    <button type='submit' form='form_id' formaction="{% url 'cart:append_product_to_cart' %}">Append to cart</button><br><br><br>
    <button type='submit' form='form_id' formaction="{% url 'cart:delete_product_from_cart' %}">Delete from cart</button>
</form>


{% endblock content %}