{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'statics/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'statics/css/login/profile.css' %}">
{% endblock head %}
    

{% block title %}
    داشبورد
{% endblock title %}

{% block content %}
    <main class="mx-auto py-5 mb-3 mb-0 d-flex justify-content-center align-items-md-start"
        style="font-family: IRANYekan, sans-serif;">

        <div class="profile-content-box mx-auto my-4 col-md-9 col-11 d-flex flex-md-row flex-column">
            <!-- * icon list section -->
            <section
                class="profile-icons-list m-2 flex-md-grow-0 d-flex flex-md-column justify-content-md-around align-items-md-center px-md-2 py-md-2 flex-row align-items-center justify-content-around px-3 py-1">
                <!-- <i class="bi bi-person py-md-1 py-0 px-md-0 px-1"></i>
                <i class="bi bi-box-seam py-md-2 py-0 px-md-0 pe-1 ps-3"></i> -->
                <i class="bi bi-person active" data-icon-content="profile-edit"></i>
                <i class="bi bi-box-seam" data-icon-content="profile-orders"></i>
                <i class="bi bi-key" data-icon-content="profile-security"></i>
            </section>
            <!-- * content section -->
            <section class="profile-content m-2 flex-md-grow-1 p-2 d-flex justify-content-center align-items-center"
                style="background-color: rgb(228, 231, 231);">
                <!-- Profile edit box -->
                <div class="profile-edit d-none active" data-icon-content="profile-edit">
                    <form action="" method="post" id="profile-edit-form">
                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                            <!-- ! SHOW SUCCESS OR ERROR MESAGE AFTER EDITING PROFILE -->
                            <div
                                class="col-lg-10 col-md-10 col-sm-10 col-11 d-flex justify-content-center align-items-center flex-column edit-profile-result mt-3 mb-1"
                                style="font-size: 18px;">
                            </div>
                            <!-- ! profile-email -->
                            <div
                                class="col-lg-5 col-md-7 col-sm-10 col-11 d-flex justify-content-center align-items-center flex-column">
                                <label>ایمیل</label>
                                <div class="d-flex justify justify-content-center align-items-center">
                                    <input type="text" name="email" value="example@gmail.com"
                                        class="py-1 px-2 text-center edit-profile-form-input" disabled>
                                    <i class="edit-icon bi bi-pen-fill ms-1"></i>
                                </div>
                                <div class="profile-error email-error mb-2"></div>
                            </div>
                            <!-- ! profile-phone -->
                            <div
                                class="col-lg-5 col-md-7 col-sm-10 col-11 d-flex justify-content-center align-items-center flex-column">
                                <label>شماره تماس</label>
                                <div class="d-flex justify justify-content-center align-items-center">
                                    <input type="text" name="phone" value=""
                                        class="py-1 px-2 text-center edit-profile-form-input" disabled>
                                    <i class="edit-icon bi bi-pen-fill ms-1"></i>
                                </div>
                                <div class="profile-error phone-error mb-2"></div>
                            </div>
                            <!-- ! profile-first-name -->
                            <div
                                class="col-lg-5 col-md-7 col-sm-10 col-11 d-flex justify-content-center align-items-center flex-column">
                                <label>نام</label>
                                <div class="d-flex justify justify-content-center align-items-center">
                                    <input type="text" name="first-name" value=""
                                        class="py-1 px-2 text-center edit-profile-form-input" disabled>
                                    <i class="edit-icon bi bi-pen-fill ms-1"></i>
                                </div>
                                <div class="profile-error first-name-error mb-2"></div>
                            </div>
                            <!-- ! profile-last-name -->
                            <div
                                class="col-lg-5 col-md-7 col-sm-10 col-11 d-flex justify-content-center align-items-center flex-column">
                                <label>نام خانوادگی</label>
                                <div class="d-flex justify justify-content-center align-items-center">
                                    <input type="text" name="last-name" value=""
                                        class="py-1 px-2 text-center edit-profile-form-input" disabled>
                                    <i class="edit-icon bi bi-pen-fill ms-1"></i>
                                </div>
                                <div class="profile-error last-name-error mb-2"></div>
                            </div>

                            <!-- ! profile-address -->
                            <div
                                class="col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center flex-column">
                                <label>آدرس</label>
                                <div class="d-flex justify justify-content-center align-items-center w-100">
                                    <input type="text" name="address" value=""
                                        class="py-1 w-100 text-center edit-profile-form-input" disabled>
                                    <i class="edit-icon bi bi-pen-fill ms-1"></i>
                                </div>
                                <div class="profile-error address-error mb-2"></div>
                            </div>

                            <!-- ! profile-image -->
                            <div
                                class="my-4 col-lg-10 col-md-11 col-sm-12 col-12 d-flex justify-content-center align-items-center flex-column">
                                <label for="">
                                    تصویر
                                </label>
                                <div class="mb-3 d-flex justify justify-content-center align-items-center">
                                    <div style="width: 150px; height: 150px;">
                                        <img src="{% static 'statics/images/generic-profile-image.svg' %}" id="profile-edit-current-image" alt=""
                                            style="width: 100%; height: 100%; border: 1px; border-color: rgb(214, 27, 27); border-radius: 50%">
                                    </div>
                                </div>
                                <!-- When new image uploaded, a thumbnail of new image shown here -->
                                <div id="new-image-thumbnail"
                                    class="my-1 d-flex justify-content-center align-items-center">

                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <label id="custom-input-image-button" class="me-1">
                                        <input type="file" name="image" src="" alt="" id="upload-profile-image">
                                        بارگذاری تصویر جدید
                                    </label>
                                    <button id="verify-new-image" class="d-none btn btn-info ms-1" style="font-size: 18px;">
                                        ذخیره
                                    </button>
                                </div>
                                <div class="profile-edit-uploaded-image mt-3">

                                </div>
                                <div class="profile-error image-error mb-2"></div>
                            </div>
                        </div>
                        <!-- submit button -->
                        <div class="my-2 text-center">
                            <button type="submit" disabled id="profile-edit-submit" class="btn btn-primary px-4 py-1"
                                style="font-size: 20px;">
                                تایید
                            </button>
                        </div>
                    </form>
                </div>

                <div class="profile-orders d-none" data-icon-content="profile-orders">
                    {% if orders %}
                    <div class="profile-order-unit mx-5 my-3 d-flex text-center justify-content-center align-items-between flex-column"
                        style="font-size: 18px; font-weight: 600; color:rgb(46, 46, 46);">
                        <div
                            class="profile-order-section mx-auto mt-2 mb-3 d-flex justify-content-between align-items-center">
                            <div class="profile-order-row">
                                <span>ردیف</span>
                            </div>
                            <div class="profile-order-id">
                                <span>شماره سفارش</span>
                            </div>
                            <div class="profile-order-quantity">
                                <span>تعداد</span>
                            </div>
                            <div class="profile-order-price">
                                <span>قیمت کل (تومان)</span>
                            </div>
                        </div>
                        {% for order in orders %}
                        <div class="profile-order-section  mx-auto mt-2 mb-3 d-flex justify-content-between align-items-center"
                            style="height: 60px;">
                            <div class="profile-order-row">
                                {{ forloop.counter }} {% if order.is_paid %}پش{% else %}پن{% endif %}
                            </div>
                            <div class="profile-order-id">
                                <a href="{% url 'order:order-detail' order_id=order.order_id %}">
                                    <span style="font-size: 18px; font-weight:600">{{ order.order_id }}</span>
                                </a>
                            </div>
                            <div class="profile-order-quantity">
                                <span>{{ order.quantity_total }}</span>
                            </div>
                            <div class="profile-order-price">
                                <span>{{ order.price_pay }}</span>
                            </div>
                        </div>
                        {% endfor %}
                        <small class='pt-3'>پن: پرداخت نشده</small>
                        <small>پش: پرداخت شده</small>
                    </div>
                    {% else %}
                    <div>
                        <h4>سفارشی توسط شما ثبت نشده</h4>
                    </div>
                    {% endif %}
                </div>

                <div class="profile-security d-none" data-icon-content="profile-security">
                    <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                        <h2 class="display-6 ms-auto me-4 my-3">تغییر رمز</h2>
                        <br>
                        <div class="my-3 profile-security-result" style="font-size: 18px;">

                        </div>
                        <form action="" method="post" class="text-center" id="profile-password-change-form">
                            <span class="d-block my-2 profile-error profile-security-current-password"></span>
                            <div class="mb-4 d-flex justify-content-center align-items-center flex-wrap">
                                <label class="me-2 p-0" for="">رمز فعلی</label>
                                <input type="password" name="password-current" class="py-1">
                            </div>
                            <br><br>
                            <span class="d-block my-2 profile-error profile-security-new-password"></span>
                            <div class="mb-4 d-flex justify-content-center align-items-center flex-wrap">
                                <label class="me-2 p-0" for="">رمز جدید</label>
                                <input type="password" name="password-new" class="py-1">
                            </div>
                            <span class="d-block my-2 profile-error profile-security-confirm-password"></span>
                            <div class="mb-4 d-flex justify-content-center align-items-center flex-wrap"
                                style="left: -43px;">
                                <label class="me-2 p-0" for="">تکرار رمز</label>
                                <input type="password" name="password-new-confirm" class="py-1">
                            </div>
                            <button class="profile-security-button mx-auto my-2 px-4 py-2 btn btn-primary"
                                style="font-size: 18px;">
                                تایید
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock content %}


{% block scripts %}
    <script src="{% static 'js/dashboard/profile.js' %}" type="module"></script>
{% endblock scripts %}
