{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/order/order.css' %}">
{% endblock head %}
    

{% block title %}
پرداخت
{% endblock title %}


{% block content %}
        <main class="m-auto py-5" style="font-family: IRANYekan, sans-serif;">
            {% comment %} If there is no order or no item in the order show below block {% endcomment %}
            {% if order_found < 1 %}
                <div id="no--order--exist">
                    <div class="mx-auto my-3 text-center">
                        <img src="{% static 'images/empty-cart.png' %}" style="width: 50%; height: auto;" alt="">
                    </div>
                {% if order_found == 0 %}
                    <h3 class="my-3 text-center">آیتمی در سفارش ثبت نشده</h3>
                {% else %}
                    <h3 class="my-3 text-center">سفارشی با شناسه وارد شده وجود ندارد</h3>
                {% endif %}
                </div>
            
            {% comment %} If order exists and there are item in it {% endcomment %}
            {% else %}
            <div id="order--exist">
                <h1 class="display-4 pb-4 text-center">سفارش</h1>
                <div class="order-body d-flex justify-content-center align-items-center flex-column-reverse">
                    <div class="order-payment-block">
                        <div class="order-payment my-4">
                            <div class="py-3 px-2 d-flex justify-content-start align-items-end flex-column">
                                <!-- * Server will put the data in the <span> tag -->
                                <div class="py-2 order-payment-row d-flex justify-content-center align-items-center flex-row-reverse flex-wrap">
                                    <p class="my-0 px-1">:تعداد</p>
                                    {% comment %} order quantity {% endcomment %}
                                    <span class="px-1">{{ order.quantity_total }}</span>
                                </div>
                                <div class="py-2 order-payment-row d-flex justify-content-center align-items-center flex-row-reverse flex-wrap">
                                    <p class="my-0 px-1">:قیمت کل (تومان)</p>
                                    {% comment %} order price {% endcomment %}
                                    <span class="px-1" id='order-payment-price'>{{ order.price_pay }}</span>
                                </div>
                                <div class="py-2 order-payment-row d-flex justify-content-center align-items-center flex-row-reverse flex-wrap">
                                    <p class="my-0 px-1">:مالیات (تومان)</p>
                                    {% comment %} order tax {% endcomment %}
                                    <span class="px-1" id='order-payment-tax'></span>
                                </div>
                                <div class="py-2 order-payment-row d-flex justify-content-center align-items-center flex-row-reverse flex-wrap">
                                    <p class="my-0 px-1">:(تومان) هزینه ارسال</p>
                                    {% comment %} order shipment cost {% endcomment %}
                                    <span class="px-1" id="order-shipment-cost">4500</span>
                                </div>
                                <div class="py-2 order-payment-row text-primary d-flex justify-content-center align-items-center flex-row-reverse flex-wrap">
                                    <p class="my-0 px-1" style="font-size: 21px;">:(تومان) مجموع کل
                                    </p>
                                    {% comment %} order total price {% endcomment %}
                                    <span class="px-1" id="order-payment-total" style="font-size: 21px;"></span>
                                </div>
                            </div>
                            <div id="payment--button--separator" class="pb-1">
                                <a href="{% url 'payment:payment-request' order_id=order.order_id %}">
                                    <button class="btn btn-success mx-auto mt-1 mb-3 d-flex justify-content-around align-items-center" id="order--payment--button" style="font-size: 22px; direction: rtl;">
                                        <p class="my-0 px-2">پرداخت</p>
                                        <i class="bi bi-credit-card-2-back d-block px-2"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <section id="order-product-payment-separator" class="mb-4 mt-2 mx-auto"></section>

                    <div class="order-product-block mx-auto" style="width: 1400px;">
                        <!-- Following 'div' works as table header -->
                        <div class="order--product--header d-flex justify-content-center align-items-center text-center mx-auto mt-5" style="width: 100%; padding-bottom: 30px;">
                            <div style="width: 400px;" class="order--product--image d-flex justify-content-center align-items-center">
                                <p class="m-0">تصویر</p>
                            </div>
                            <div style="width: 350px;" class="order--product--name d-flex justify-content-center align-items-center">
                                <p class="m-0">نام محصول</p>
                            </div>
                            <div style="width: 250px; font-size: 20px;" class="order--product--unit d-flex justify-content-center align-items-center">
                                <p class="m-0">قیمت واحد (تومان)</p>
                            </div>
                            <div style="width: 150px;" class="order--product--unit d-flex justify-content-center align-items-center">
                                <p class="m-0">تعداد</p>
                            </div>
                            <div style="width: 250px; font-size: 20px;" class="order--product--unit d-flex justify-content-center align-items-center">
                                <p class="m-0">مجموع (تومان)</p>
                            </div>
                        </div>

                        {% comment %} (Start) Loop for product {% endcomment %}
                        {% for item in order.order_item_order.all %}
                        <div class="order--product--row d-flex justify-content-center align-items-center text-center mx-auto my-4" style="width: 100%;">
                            <div style="width: 400px;" class="order-product order--product--image d-flex justify-content-center align-items-center">
                                <img src="{{ item.main_image.url }}" style="width: 200px; height: 140px;" class="m-0">
                            </div>
                            <div style="width: 350px;" class="order-product order--product--name d-flex justify-content-center align-items-center flex-column flex-wrap">
                                <p class="m-0 py-1" style="font-size: 20px; font-weight:600;">{{ item.product.brand.name }}</p>
                                <p class="m-0 py-1" style="font-size: 18px; font-weight:500;">{{ item.product.name }}</p>
                            </div>
                            <div style="width: 250px;" class="order-product order--product--unit d-flex justify-content-center align-items-center">
                                <p class="m-0">{{ item.product.price }}</p>
                            </div>
                            <div style="width: 150px;" class="order-product order--product--unit d-flex justify-content-center align-items-center">
                                <p class="m-0">{{ item.quantity }}</p>
                            </div>
                            <div style="width: 250px;" class="order-product order--product--unit d-flex justify-content-center align-items-center">
                                <p class="m-0">{{ item.price_pay }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% comment %} (End) Loop for product {% endcomment %}
                        
                    </div>
                </div>
            </div>
            {% endif %}
        </main>
{% endblock content %}

<div id="main-footer-separator" class="my-3 mx-auto"></div>



{% block scripts %}
<script src="{% static 'js/order/checkout.js' %}" type="module"></script>
{% endblock scripts %}
