{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/order/order.css' %}">
{% endblock head %}
    

{% block title %}
سفارش
{% endblock title %}


{% block content %}
<main class="mx-auto my-5 col-md-8 col-sm-6 col-10" style="font-family: IRANYekan, sans-serif;">
    {% comment %} If there is no order or no item in the order show below block {% endcomment %}
    {% if order_found > 1 %}
    <div id="no--order--exist">
        <div class="mx-auto my-3 text-center">
            <img src="{% static 'images/empty-cart.png' %}" style="width: 50%; height: auto;" alt="">
        </div>
    {% if order_found == 0 %}
        <h3 class="my-3 text-center">آیتمی در سفارش ثبت نشده</h3>
    {% else %}
        <h3 class="my-3 text-center">سفارشی با شناسه وارد شده وجود ندارد</h3>
    {% endif %}
    </div>
    
    {% comment %} If order exists and there are item in it {% endcomment %}
    {% else %}
    <div class="order--body--box text-center">
        <h2 class="display-4 mb-4">سفارش</h2>
        <!-- <div class="mx-auto my-4 col-md-2 col-sm-5 col-10"> -->
        {% if order.is_paid %}
        <div class="mx-auto my-4 desktop tablet mobile">
            <img src="{% static 'images/order-verfied.png' %}" id="verified-order"  alt="">
        </div>
        {% endif %}
        <div class="d-flex flex-column justify-content-center align-items-center" id="order--specs"
             style="font-size: 20px; font-weight: 600; color:rgb(46, 46, 46);">
            <div class="my-3">
                <span class="ms-1">شماره سفارش:</span>
                <span class="me-1" style="text-decoration: solid;">{{ order.order_id }}</span>
            </div>
            <div class="my-3">
                {% if order.is_paid %}<span class="ms-1">مبلغ پرداخت شده:</span>{% else %}<span class="ms-1">مبلغ قابل پرداخت:</span>{% endif %}
                <span class="me-1">{{ order.price_pay }}</span>&nbsp;<span>تومان</span>
            </div>
            <div class="my-3">
                <span class="ms-1">تعداد:</span>
                <span class="me-1">{{ order.quantity_total }}</span>&nbsp;<span>عدد</span>
            </div>
        </div>

        <span id="order--separator" class="my-3"></span>

        <h3 class="text-center mt-4 mb-5" style="font-size: 30px; color:rgb(46, 53, 230);">مشخصات محصولات سفارش داده شده</h3>
        <div class="order--product--list mx-auto mt-2 mb-3 d-flex justify-content-start align-items-center text-center"
             style="width: 1000px; height: 30px; overflow-x: auto;">
            <div class="" style="width: 150px;">
                <span>دسته بندی</span>
            </div>
             <div class="" style="width: 250px;">
                <span>نام</span>
            </div>
            <div class="" style="width: 100px;">
                <span>تعداد</span>
            </div>
            <div class=""  style="width: 150px;">
                <span>قیمت واحد (تومان)</span>
            </div>
            <div class=""  style="width: 150px;">
                <span>(تومان) قیمت کل</span>
            </div>
        </div>
        
        {% for item in order.order_item_order.all %}
        <div class="mx-auto my-5 d-flex justify-content-start align-items-center text-center"
             style="width: 1000px; height: 100px; overflow-x: auto;">
             <div class="" style="width: 150px;">
                {% comment %} product_category comes here {% endcomment %}
                <span style="font-size: 16px;">laptop</span>
            </div>
             <div class="" style="width: 250px;">
                <span class="d-block my-1" style="font-size: 16px; font-weight:600">{{ item.product.brand.name }}</span>
                <span class="d-block my-1" style="font-size: 14px; font-weight:600">{{ item.product.name }}</span>
            </div>
            <div class="" style="width: 100px;">
                <span style="font-size: 18px; font-weight:600">{{ item.quantity }}</span>
            </div>
            <div class=""  style="width: 150px;">
                <span>{{ item.product.price }}</span>
            </div>
            <div class=""  style="width: 150px;">
                <span>{{ item.price_pay }}</span>
            </div>
        </div>
        {% endfor %}

        <span id="order--separator" class="my-3"></span>
        
        <a href="{% url 'vitrin:index' %}">
            <button id="back--index" class="no-print mx-auto mt-3 mb-3 btn btn-primary d-flex justify-content-center align-items-center">
                <ion-icon class="pe-1" name="return-up-back-outline"></ion-icon>
                <span class="ps-1">بازگشت به صفحه اصلی</span>
            </button>
        </a>
        {% comment %} If customer has already paid for the order, show them 'print' button {% endcomment %}
        {% if order.is_paid %}
        <button id="print--page" class="no-print mx-auto mt-4 mb-4 btn btn-info d-flex justify-content-center align-items-center"
                onclick="window.print()">
            <i class="bi bi-printer pe-1"></i>
            <span class="ps-1">پرینت</span>
        </button>
        {% comment %} else show them payment button {% endcomment %}
        {% else %}
        <div id="payment--button--separator" class="pb-1">
            <a href="./success_pay.html">
                <button class="btn btn-success mx-auto mt-1 mb-3 d-flex justify-content-around align-items-center" id="order--payment--button" style="font-size: 22px; direction: rtl;">
                    <p class="my-0 px-2">پرداخت</p>
                    <i class="bi bi-credit-card-2-back d-block px-2"></i>
                </button>
            </a>
        </div>
        {% endif %}

    </div>
    <!-- ****** (End) order body -->
    {% endif %}
</main>
{% endblock content %}


<div id="main-footer-separator" class="my-3 mx-auto"></div>


{% block scripts %}
<script src="{% static 'js/order/checkout.js' %}" type="module"></script>
{% endblock scripts %}